<div class="container">
  <h2> {{title}} project Angular 8</h2>

  <form>
    <div class="form-group">
      <label>User name</label>
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" name="name">
    </div>
    <div class="form-group">
      <label>CardNumber</label>
      <input type="text" class="form-control" placeholder="CardNumber" [(ngModel)]="cardNumber" name="cardNumber">
    </div>
    <div class="form-group">
      <label>CardType</label>
      <input type="text" class="form-control" placeholder="CardType" [(ngModel)]="cardType" name="cardType">
    </div>
    <button class="btn btn-primary" (click)="addUser()">Add User</button>
  </form>

  <table class="table table-bordered">
    <tr *ngFor="let user of users$ | async" class="user">
      <td> {{user.id}} </td>
      <td> {{user.name}} </td>
      <td> {{user.cardNumber}} </td>
      <td> {{user.cardType}} </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>



